{% extends "base.html" %}
{% block content %}
<div>

<form action="welcome.php" method="post">
Name: <input type="text" name="name"><br>
E-mail: <input type="text" name="email"><br>
<input type="submit">
</form>

</body>
</html>


  {% for pet in pets %}

    <div class="petname">
      <a href="{% url 'pet_detail' pet.id %}">
        <h3>{{ pet.name|capfirst }}</h3>
      </a>
      <p>{{ pet.species }}</p>
      {% if pet.breed %}
        <p>Breed: {{ pet.breed }}</p>
      {% endif %}
      <p class="hidden">{{ pet.description }}</p>
    </div>
  {% endfor %}
</div>
{% endblock %}
